@import "reset.scss";
@import "../font-awesome/css/font-awesome.css";
@import "http://fonts.googleapis.com/css?family=Oswald:400,300,700";
@import "http://fonts.googleapis.com/css?family=PT+Sans";
@import "http://fonts.googleapis.com/css?family=Asap:400,700,400italic";
@import "bourbon/bourbon";


//////// Variables
// Fonts
  $sansSerif1: 'Asap', Tahoma, sans-serif;
  $sansSerif2: 'PT Sans', Arial, sans-serif;
  $sansSerif3: 'Oswald', Aril, sans-serif;
// Font Sizing
  $h1Size: 81px;
  $h1Size-m1: 28px;
  $h1LineHeight: 81px;
  $h1LetterSpacing: -0.5px;
  $h2Size: 46px;
  $h2LineHeight: 48px;
  $h3Size: 14px;
  $smallSize: 11px;
  $quoteSize: 22px;
  $quoteSize-m1: 16px;
  $quoteLineHeight-m1: 20px;

// Colors
  $white: #ffffff;
  $offWhite: #fafcfe;
  $midBlue: #3d87c5;
  $veryDarkBlue: #142940; //#053151
  $lightGray: #696969;
  $midGray: #bfcbd4;
  $darkGray: #5E6970;

// Dimensions
  $headerHeight: 382px;
  $headerHeight-media1: 140px;
  $footerNavHeight: 150px;
  $containerWidth: 965px;
  $containerWidth-m1: 320px;
  $mainWidth: 765px;
  $articleWidth: 425px;
  // Media query breakpoints
  $media1MaxWidth: 320px;
  //
// Offsets
  $h2Padding: 25px 0 0 0;
  $h2Padding-m1: 35px 0 0 0;
  $quoteMargin: 25px 5px 25px 5px;
  $quotePadding: 10px 25px 10px 10px;
  $smallMargin:-25px 0 0 0;
  $headerNavPadding: 8px 0 0 0;
  $headerNavLiPadding: 8px 0 0 0;
  $titlesMargin: 154px 0 0 0;
  $titlesMargin-m1: 54px 0 0 0;
  $mainPadding: 20px 100px 20px 100px;
  $mainPadding-m1: 20px;
// Borders
  $quoteBorderLeft: solid 2px $midGray;
// URLs
  $companyLogoImage: "../images/surfandpaddle_logo.gif";
// Text
  $companyText: "Surf & Paddle Co. Blog";


// Mixins

@mixin companyText{
  font-size: 14px;
  font-family: 'Asap', Arial, sans-serif;
  padding-top: 12px;
  float:left;
  span:before {
    content:$companyText;
  }
  @media screen and (max-width: $containerWidth-m1){
      display: none;
  }
}

@mixin companyLogo{
  float:left;
  height: 35px;
  width: 35px;
  margin:0 5px 0 0;
  background-image:url($companyLogoImage);
  background-image: url('../images/surfandpaddle_logo.gif');
  background-size: 35px;
  background-repeat: no-repeat;
}

@mixin navMenu($navMenuLabel){
  float:right;
  padding: 11px 10px 0 0;
  span:before {
    content:$navMenuLabel;
  }
  @media screen and (max-width: $media1MaxWidth){
    float: left;
  }
}

* {
  @include box-sizing(border-box);
}

/////

body {
  width:100%;
  font-family: $sansSerif1;
  margin:auto;
  background: $white;
}

header {
  height:$headerHeight;
  background:url(../images/tulum-waves.jpg) no-repeat center center fixed;
  background-size: cover;
  @media screen and (max-width: $media1MaxWidth) {
    height:$headerHeight-media1
  }
}

h1 {
  font-family: $sansSerif2;
  text-transform:uppercase;
  font-weight:lighter;
  font-size: $h1Size;
  text-align:center;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  color: $offWhite;
  letter-spacing: $h1LetterSpacing;
  @media screen and (max-width: $media1MaxWidth)                                {
    font-size:$h1Size-m1;
  }
}

h2 {
  font-family: $sansSerif3;
  text-transform: uppercase;
  font-weight: normal;
  font-size: $h2Size;
  text-align:left;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  line-height: $h2LineHeight;
  padding: $h2Padding;
  color: $veryDarkBlue;
  @media screen and (max-width: $media1MaxWidth) {
    padding: $h2Padding-m1;
    line-height: 52px;
  }
}

h3 {
  text-transform:uppercase;
  color: $midBlue;
  font-family: $sansSerif2;
  font-size: $h3Size;
}

small  {
  font-size: $smallSize;
  text-align:center;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  color: $midBlue;
  display: block;
  margin-top: $smallMargin;
  @media screen and (max-width: $media1MaxWidth)   {
    font-weight: bold;
  }
}

blockquote {
  color: $midBlue;
  font-size: $quoteSize;
  text-transform:uppercase;
  border-left: $quoteBorderLeft;
  padding: $quotePadding;
  -webkit-margin-start: 5px;
  -webkit-margin-end: 5px;
  margin: $quoteMargin;
  @media screen and (max-width: $media1MaxWidth){
    font-size:$quoteSize-m1;
    font-family:$sansSerif2;
    font-weight:bold;
  }
}

.container {
  width: $containerWidth;
  margin: auto;
  overflow:hidden;
  @media screen and (max-width: $containerWidth-m1){
    width: $containerWidth-m1;
  }
}

.fullfill {
  width: 100%;
  background: $veryDarkBlue;
}

section#titles{
  text-align:center;
  clear:both;
  position:absolute;
  margin:$titlesMargin;
  width:100%;
  @media screen and (max-width: $media1MaxWidth) {
    margin:$titlesMargin-m1;
    width:100%;
  }
}

nav#headerNav{
  margin: auto;
  width: $mainWidth;
  clear:both;
  padding: $headerNavPadding;
  @media screen and (max-width: $media1MaxWidth){
    width: $containerWidth-m1;
  }
  li{
    list-style: none;
    font-family: $sansSerif3;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    padding: $headerNavLiPadding;
    color:#053251;
    float:left;
    &:nth-child(1) {
      @include companyLogo();
    }
    &:nth-child(2) {
      @include companyText();
    }
    // declaring 3rd child as the search icon because the Font Awesome styles
    // do not play well within sass mixins
    &#searchIcon {
      font-size: 12px;
      float:right;
      padding: 11px 0 0 3px;
      color:#053251;
    }
    &:nth-child(4) {
      @include navMenu('Search');
    }
    &:nth-child(5) {
      @include navMenu('About');
    }
  }
}

section#main {
  padding: $mainPadding;
  @media screen and (max-width: $media1MaxWidth){
    padding: $mainPadding-m1;
    line-height: 52px;
  }

  article {
    width: golden-ratio($mainWidth,-1);
    float:left;
    @media screen and (max-width: $media1MaxWidth) {
      width: 280px;
      margin: 0;
    }

    .byline{
      height: 40px;
      @media screen and (max-width: $media1MaxWidth){
        height: 25px
      }
    }

    img.authorIcon{
      height:30px;
      width:30px;
      margin-top: 8px;
      margin-right: 5px;
      float: left;
      @media screen and (max-width: $media1MaxWidth){
        display:none;
      }
    }

    span.blogAuthor{
      color: $midBlue;
      font-size: 11px;
      float: left;
      padding-top: 15px;
      @media screen and (max-width: $media1MaxWidth){
        display:none;
      }
    }

  time, span.timeExtraText {
    color: #bfcbd4;
    font-size: 10px;
    padding-left: 3px;
    float: left;
    padding-top: 16px;
  }
  @media screen and (max-width:320px){
    time {
    font-size: 12px;
    text-decoration: underline;
    padding-left: 0;
    margin-top: -15px;
    font-weight: bold;
    }
  }
  @media screen and (max-width:320px){
    .timeExtraText {
      display:none;
    }
  }

    section.articleContent{
      color: #626769;
      font-size:12px;
      line-height:18px;
      @media screen and (max-width:320px){
      clear:both;
      }
    }

    nav.articleButtons {
      margin-top:15px;
      li.articleAction{
        list-style: none;
        float:left;
        background: #9dadb3;
        color: $offWhite;
        font-size: 11px;
        text-align: center;
        margin:4px;

        i.fa{
          float: left;
          line-height: 1.5;
          padding: 4px 5px 4px 5px;
          background: $darkGray;
        }

        #sharePost {
          background:#21659d;
          i.fa{
            background:#053251;
          }
        }
        span.articleActionTxt {
          padding:0px 9px 0px 9px;
          line-height:2.0;
        }
      }
    }
  }

  section.sidebar{
    float:right;
    width: golden-ratio($mainWidth,-2)-1;
    padding-top: 45px;

    @media screen and (max-width: $media1MaxWidth){
      section.sidebar{
      float:none;
      clear:both;
      padding-top: 45px;
      }
    }

    div.author{
      text-align:center;
      img.authorAvatar{
        height:60px;
        width:60px;
        margin-top: 8px;
        margin-right: 5px;
        @media screen and (max-width: $media1MaxWidth){
          height: 90px;
          width: 90px;
        }
      }

      p.authorName{
        color: #3d87c5;
        font-size: 12px;
        text-transform:uppercase;
        @media screen and (max-width: $media1MaxWidth){
          font-size: 18px;
          line-height: 18px;
        }
      }

      ul.authorSocialList {
        padding-top: 4px;
        display: inline-block;
        text-align: center;
        @media screen and (max-width: $media1MaxWidth){
          padding-top: 0px;

        }

        li{
          list-style: none;
          font-size: 10px;
          float:left;
          padding: 0px 7px 0px 7px;
          color: #bfcbd4;
          @media screen and (max-width: $media1MaxWidth){
            font-size: 16px;
          }
        }
      }
    }

    div.adblock_square{
      clear:both;
      margin: 30px 100px 40px 0;
      text-align: center;
      width: 100%;

      img.ad_square {
        clear:both;
        height:156px;
        width: 200px;
        text-align:center;
      }

      p.ad_caption {
        color: #bfcbd4;
        font-size: 10px;
        display: block;
        text-align: right;
        margin-right: 50px;
        font-family: Asap;
        a {
          color: $midGray;
          text-decoration: underline;
          border-bottom: 2px solid;
        }
      }
    }

    aside {
      clear:both;
      margin: 30px 50px 30px 50px;
      width: 200px;
      @media screen and (max-width: $media1MaxWidth){
        display:none;
      }

      p.asideText {
      text-align:left;
      color: #bfcbd4;
      font-size:12px;
      line-height:18px;
      padding-top: 10px;
      }
    }
  }
}

footer {
  margin: 0 auto;
  width: 100%;
  clear: both;

  section#popularPosts{
    clear:both;
    margin:0 auto;
    width: 100%;
    float: left;
    @media screen and (max-width: $media1MaxWidth){
      &:last-child {
        display:none;
      }
    }
    border-top:solid 1px #e7ecf0;
    background: $white;

    h2{
      text-align: center;
      background: $offWhite;
      @media screen and (max-width: $media1MaxWidth) {
        font-size:32px;
        background: $white;
      }
    }


    div.popPostWrapper{
      width:25%;
      height:300px;
      float:left;
      position:relative;
      @media screen and (max-width: $media1MaxWidth){
        float:none;
        width:280px;
        margin:15px 20px 0 20px;
        height:205px;
      }
      &:hover > .popPost {opacity:0.8;}
      &:hover > .popPostTitle {color:white;}

      figure.popPost{
        width:100%;
        float: left;
        height: 300px;
        opacity: 0.5;
        background: cover;
        @media screen and (max-width: $media1MaxWidth){
          height: 205px;
          float:none;
        }

        &#pop1{
          background:url("http://i.imgur.com/GxpP2or.png") no-repeat center center;
        }
        &#pop2{
          background:url("http://i.imgur.com/H3q9Y64.png") no-repeat center center;
        }
        &#pop3{
          background:url("http://i.imgur.com/1tUmuJn.png") no-repeat center center;
        }
        &#pop4{
          background:url("http://i.imgur.com/UGhqQNW.png") no-repeat center center;
        }
      }

      figcaption.popPostTitle{
        font-family: 'Oswald';
        text-transform: uppercase;
        font-weight: normal;
        font-size: 22px;
        text-align: left;
        position:absolute;
        margin: 250px 18px 18px 18px;
        /*not using #82b2da* so text displays clearly */
        color: #1068A4;
        @media screen and (max-width: $media1MaxWidth){
          margin-top: -50px;
          }
        }
      }
    }
  }

  nav#footerNav{
    background: $veryDarkBlue;
    clear:both;
    li {
      font-family: 'Asap', Tahoma, Arial, sans-serif;
      font-size: 11px;
      float: right;
      color: #bfcbd4;
      margin-top: 25px;
      @media screen and (max-width: $media1MaxWidth){
        float:none;
        font-size:14px;
        color: #a2b2bd;
        margin:0 0 0 0;
      }

      &#tiycompanyText {
        float: left;
        @media screen and (max-width: $media1MaxWidth){
          float:none;
        }
      }
      &#tiyLogo {
        float: left;
        margin-top:0;
        @media screen and (max-width: $media1MaxWidth){
          length:65px;
          width:65px;
        }
        img#tiyLogoImg{
          height:45px;
          width:45px;
          float: left;
          margin: 10px;
          @media screen and (max-width: $media1MaxWidth){
            height: 60px;
            width: 60px;
          }
        }
      }
      &.navFooterMenu {
        float: right;
        padding: 0 9px 0 9px;
        border-left: $lightGray solid 1px;
        display: inline-block;
        @media screen and (max-width: $media1MaxWidth){
          float:left;
          color:#a2b2bd;
        }
        &:last-child {
          border:none;
          @media screen and (max-width: $media1MaxWidth){
            border-left: dimgray solid 1px;
          }
        }
      }
    }
  }
