@import "reset.scss";
@import "../font-awesome/css/font-awesome.css";
@import "http://fonts.googleapis.com/css?family=Oswald:400,300,700";
@import "http://fonts.googleapis.com/css?family=PT+Sans";
@import "http://fonts.googleapis.com/css?family=Asap:400,700,400italic";
@import "bourbon/bourbon";

//////// Variables
// Fonts
  $sansSerif1: 'Asap', Tahoma, sans-serif;
  $sansSerif2: 'PT Sans', Arial, sans-serif;
  $sansSerif3: 'Oswald', Aril, sans-serif;
// Font Sizing
  $h1Size: 81px;
  $h1Size-m1: 28px;
  $h1LineHeight: 81px;
  $h1LetterSpacing: -0.5px;
  $h2Size: 46px;
  $h2LineHeight: 48px;
  $h3Size: 14px;
  $smallSize: 11px;
  $quoteSize: 22px;
  $quoteSize-m1: 16px;
  $quoteLineHeight-m1: 20px;
// Colors
  $white: #ffffff;
  $offWhite: #fafcfe;
  $veryDarkBlue: #053251;
  $midBlue: #3d87c5;
// Dimensions
  $headerHeight: 382px;
  $headerHeight-media1: 140px;
  $media1MaxWidth: 320px;
  $footerHeight: 150px;
  $containerWidth: 965px;
  $containerWidth-m1: 320px;
  $articleWidth: 425px;
// Offsets
  $h2Padding: 25px 0 0 0;
  $h2Padding-m1: 45px 0 0 0;
  $quoteMargin: 1em 5px 1em 5px;
  $quotePadding: 12px 15px 0 0;
  $smallMargin:-25px 0 0 0;
  $titlesMargin: 154px 0 0 0;
  $titlesMargin-m1: 54px 0 0 0;
// Borders
  $quoteBorderLeft: solid 2px #bfcbd4;
//URLs
  $companyLogoImage: "../images/surfandpaddle_logo.gif";
// Text
  $companyText: "Surf & Paddle Co. Blog";
// Mixins

@mixin companyText{
  font-size: 14px;
  font-family: 'Asap', Arial, sans-serif;
  padding-top: 12px;
  float:left;
  span:before {
    content:$companyText;
  }
  @media screen and (max-width:320px){
      display: none;
  }
}

@mixin companyLogo{
  float:left;
  height: 35px;
  width: 35px;
  margin:0 5px 0 0;
  background-image:url($companyLogoImage);
  background-image: url('../images/surfandpaddle_logo.gif');
  background-size: 35px;
  background-repeat: no-repeat;
}

@mixin navMenu($navMenuLabel){
  margin: -6px 0 0 8px;
  float:right;
  span:before {
    content:$navMenuLabel;
  }
  @media screen and (max-width: $media1MaxWidth){
    float: left;
    margin: 10px 8px 0 8px;
  }
}

* {
  @include box-sizing(border-box);
}

body {
  width:100%;
  font-family: $sansSerif1;
  margin:auto;
  background: $white;
}

header {
  height:382px;
  background:url(../images/tulum-waves.jpg) no-repeat center center fixed;
  background-size: cover;
  @media screen and (max-width: $media1MaxWidth) {
    height:$headerHeight-media1
  }
}

h1 {
  font-family: $sansSerif2;
  text-transform:uppercase;
  font-weight:lighter;
  font-size: $h1Size;
  text-align:center;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  color: $offWhite;
  letter-spacing: $h1LetterSpacing;
  @media screen and (max-width: $media1MaxWidth)                                {
    font-size:$h1Size-m1;
  }
}

h2 {
  font-family: $sansSerif3;
  text-transform: uppercase;
  font-weight: normal;
  font-size: $h2Size;
  text-align:left;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  line-height: $h2LineHeight;
  padding: $h2Padding;
  color: $veryDarkBlue;
  @media screen and (max-width: $media1MaxWidth) {
    padding: $h2Padding-m1;
  }
}

h3 {
  text-transform:uppercase;
  color: $midBlue;
  font-family: $sansSerif2;
  font-size: $h3Size;
}

small  {
  font-size: $smallSize;
  text-align:center;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  color: $midBlue;
  display: block;
  margin-top: $smallMargin;
  @media screen and (max-width: $media1MaxWidth)   {
    font-weight: bold;
  }
}

blockquote {
  color: $midBlue;
  font-size: $quoteSize;
  text-transform:uppercase;
  border-left: $quoteBorderLeft;
  padding: $quotePadding;
  -webkit-margin-start: 5px;
  -webkit-margin-end: 5px;
  margin: $quoteMargin;
  @media screen and (max-width: $media1MaxWidth){
    font-size:$quoteSize-m1;
    font-family:$sansSerif2;
    font-weight:bold;
  }
}

.container {
  width: $containerWidth;
  margin: auto;
  overflow:hidden;
  @media screen and (max-width: 320px){
    width: 320px;
  }
}

.fullfill {
  width: 100%;
  background: $veryDarkBlue;
}

section#titles{
  text-align:center;
  clear:both;
  position:absolute;
  margin:$titlesMargin;
  width:100%;
  @media screen and (max-width: $media1MaxWidth) {
    margin-top:$titlesMargin-m1;
    width:100%;
  }
}

nav#headerNav{
  margin: auto;
  width:765px;
  clear:both;
  @media screen and (max-width: $media1MaxWidth){
    width: $containerWidth-m1;
  }
  li{
    list-style: none;
    font-family: 'Oswald', Arial, sans;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    padding: 20px 4px 0px 0px;
    color:#053251;
    float:left;
    &:nth-child(1) {
      @include companyLogo();
    }
    &:nth-child(2) {
      @include companyText();
    }
    &:nth-child(4) {
      @include navMenu('Search');
    }
    &:nth-child(5) {
      @include navMenu('About');
    }
  }
}

// 3rd child is icon; does not play nicely within the mixin
nav#headerNav li#searchIcon {
  font-size: 12px;
  float:right;
  margin-top:-5px;
  color:#053251;
}


article{
  width: golden-ratio($containerWidth,-1);
  float:left;
  @media screen and (max-width: $media1MaxWidth) {
    width: 280px;
    margin: 0;
  }
  section.byline{
    height: 40px;
  }
  img.authorIcon{
    height:30px;
    width:30px;
    margin-top: 8px;
    margin-right: 5px;
    float: left;
    @media screen and (max-width: $media1MaxWidth){
      display:none;
    }
  }
  span.blogAuthor{
    color: #3d87c5;
    font-size: 11px;
    float: left;
    padding-top: 15px;
  }
  time, span.timeExtraText {
    color: #bfcbd4;
    font-size: 10px;
    padding-left: 3px;
    float: left;
    padding-top: 16px;
    @media screen and (max-width: $media1MaxWidth){
      time {
        font-size: 12px;
        text-decoration: underline;
        padding-left: 0;
        padding-top: 8px;
        font-weight: bold;
      }
      .timeExtraText {
        display:none;
      }
    }
  }
  section.articleContent{
    color: #626769;
    font-size:12px;
    line-height:18px;
  }
  nav.articleButtons {
    margin-top:15px;
    li.articleAction{
      list-style: none;
      float:left;
      background: #9dadb3;
      color: #fafcfe;
      font-size: 11px;
      text-align: center;
      margin:4px;
      i.fa{
        float: left;
        line-height: 1.5;
        padding: 4px 5px 4px 5px;
        background: #5e6970;
      }
      #sharePost {
        background:#21659d;
        i.fa{
          background:#053251;
        }
      }
      span.articleActionTxt {
        padding:0px 9px 0px 9px;
        line-height:2.0;
      }
    }
  }














}

p.authorName{
  color: #3d87c5;
  font-size: 12px;
  text-transform:uppercase;
}













footer {
  max-height: $footerHeight;
  margin: 0 auto;
  width: 100%;
  clear: both;
}








  nav#footerNav{
    background: $veryDarkBlue;
    clear:both;
  }

  nav#footerNav li {
    font-family: 'Asap', Tahoma, Arial, sans-serif;
    font-size: 11px;
    float: left;
    color: #bfcbd4;
    margin-top: 25px;
  }
  @media screen and (max-width: $media1MaxWidth){
    nav#footerNav li{
      float:none;
      font-size:14px;
      color: #a2b2bd;
      margin:0 0 0 0;
    }
  }

  nav#footerNav li#tiycompanyText {
    float: left;
  }
  @media screen and (max-width: $media1MaxWidth){
    nav#footerNav li#tiycompanyText{

    }
  }

f

  nav#footerNav li#tiyLogoImg {
    float: left;
    margin-top:0;
  }
  @media screen and (max-width: $media1MaxWidth){
    nav#footerNav li#tiyLogoImg{
    length:65px;
    width:65px;
    }
  }

  nav#footerNav li.navFooterMenu {
    float: right;
    padding: 0 9px 0 9px;
    border-left: dimgray solid 1px;
    display: inline-block;
  }
  @media screen and (max-width: $media1MaxWidth){
    nav#footerNav li#navFooterMenu {
      float:left;
      color:#a2b2bd;
    }
  }

  nav#footerNav li.navFooterMenu:last-child {
    border:none;
  }
  @media screen and (max-width: $media1MaxWidth){
    nav#footerNav li#navFooterMenu:last-child {
    border-left: dimgray solid 1px;
    }
  }



  div.popPostWrapper{
    width:25%;
    height:300px;
    float:left;
    position:relative;
  }
  @media screen and (max-width: $media1MaxWidth){
    div.popPostWrapper{
      float:none;
      width:280px;
      margin:15px 20px 0 20px;
    }
  }



  @media screen and (max-width: $media1MaxWidth){
    section#popularPosts a:last-child {
      display:none;
      }
    }

  figure.popPost{
    width:100%;
    float: left;
    height: 300px;
    opacity: 0.5;
  }
  @media screen and (max-width: $media1MaxWidth){
    height: 205px;
    float:none;
  }

  div.popPostWrapper:hover > .popPost {opacity:0.8;}
  div.popPostWrapper:hover > .popPostTitle {color:white;}


  figure.popPost#pop1{
    background: url("http://i.imgur.com/GxpP2or.png") no-repeat center center;
    background-size: cover;
  }

  figure.popPost#pop2{
    background:url("http://i.imgur.com/H3q9Y64.png") no-repeat center center;
    background-size: cover;
  }

  figure.popPost#pop3{
    background:url("http://i.imgur.com/1tUmuJn.png") no-repeat center center;
    background-size: cover;
  }

  figure.popPost#pop4{
    background:url("http://i.imgur.com/UGhqQNW.png") no-repeat center center;
    background-size: cover;
  }

  ul.authorSocialList {
    padding-top: 4px;
    display: inline-block;
    text-align: center;
  }

  ul.authorSocialList li{
    list-style: none;
    font-size: 10px;
    float:left;
    padding: 0px 7px 0px 7px;
    color: #bfcbd4;
  }




  div.author{
    text-align:center;
  }






div.adblock_square {
  clear:both;
  margin: 30px 100px 40px 0;
  text-align: center;
  width: 100%;
}

img.ad_square {
  clear:both;
  height:156px;
  width: 200px;
  text-align:center;
}

p.ad_caption {
  color: #bfcbd4;
  font-size: 10px;
  display: block;
  text-align: right;
  /* clear: right; */
  margin-right: 50px;
  /* font-weight: bold; */
  font-family: Asap;
}

p.ad_caption a {
  color: #bfcbd4;

  text-decoration: underline;
  border-bottom: 2px solid;
  /* font-family: Asap; */
}


aside {
  clear:both;
  margin: 30px 50px 30px 50px;
  width: 200px;
}
@media screen and (max-width: $media1MaxWidth){
  aside{
    display:none;
  }
}


.asideText {
  text-align:left;
  color: #bfcbd4;
  font-size:12px;
  line-height:18px;
  padding-top: 10px;
}


  img#tiyLogo{
    height:45px;
    width:45px;
    float: left;
    margin: 10px;
  }
  @media screen and (max-width: $media1MaxWidth){
    img#tiyLogo{
      height: 60px;
      width: 60px;
    }
  }



  figcaption.popPostTitle{
    font-family: 'Oswald';
    text-transform: uppercase;
    font-weight: normal;
    font-size: 22px;
    text-align: left;
    position:absolute;
    margin: 250px 18px 18px 18px;
  /*not using #82b2da* so text displays clearly */
    color: #1068A4;
  }

  img.authorAvatar{
    height:60px;
    width:60px;
    margin-top: 8px;
    margin-right: 5px;
  }



  section.sidebar{
    float:right;
    width: golden-ratio($containerWidth,-2)-1;
    // One pixel off
    padding-top: 45px;
  }
  @media screen and (max-width: $media1MaxWidth){
    section.sidebar{
    float:none;
    clear:both;
    padding-top: 45px;
    }
  }


  section#popularPosts{
    clear:both;
    margin:0 auto;
    width: 100%;
    float: left;
  }
  @media screen and (max-width: $media1MaxWidth){
    section#popularPosts{
    border-top:solid 1px #e7ecf0;
    background:#ffffff;
    }
  }

  section#popularPosts h2{
    text-align: center;
    background:#fafcfe;
  }
  @media screen and (max-width: $media1MaxWidth) {
    section#popularPosts h2 {
      font-size:32px;
      background:#ffffff;
    }
  }



  div.entryFooterLink{
    background: #bfcbd4;
    color: #fafcfe;
    font-size: 11px;
    text-align:center;
    float:left;
    margin: 4px;
    width:150px;
  }

  div.entryFooterLink#share{
    background: #3d87c5;
  }
