@import "reset.scss";
@import "../font-awesome/css/font-awesome.min.css";
@import "http://fonts.googleapis.com/css?family=Oswald:400,300,700";
@import "http://fonts.googleapis.com/css?family=PT+Sans";
@import "http://fonts.googleapis.com/css?family=Asap:400,700,400italic";

  body {
    width:100%;
    font-family: 'Asap', Tahoma, sans-serif;
    margin:auto;
    background:#ffffff;
  }

  header {
    background:#0D73b6;
    height:382px;
    background:url(../images/tulum-waves.jpg) no-repeat center center fixed;
    background-size: cover;
  }
  @media screen and (max-width: 320px) {
    header {
      height:140px;
    }
  }

  footer {
    max-height: 150px;
    margin: 0 auto;
    width: 100%;
    clear: both;
  }

  h1 {
    font-family: 'PT Sans', Arial, sans-serif;
    text-transform:uppercase;
    font-weight:lighter;
    font-size:81px;
    text-align:center;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    line-height:81px;
    color: #fafcfe;
    letter-spacing: -0.5px;
  }

  @media screen and (max-width: 320px)                          {
    h1 {
      font-size:28px;
    }
  }

  h2 {
    font-family: 'Oswald';
    text-transform: uppercase;
    font-weight: normal;
    font-size: 46px;
    text-align:left;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    line-height: 52px;
    padding-top: 45px;
    color: #053251;
  }
  @media screen and (max-width: 320px) {
    h2 {
      padding-top: 35px;
    }
  }

  h3 {
    text-transform:uppercase;
    color:#3d87c5;
    font-family: 'Oswald', 'Arial', sans-serif;
    font-size: 14px;
  }

  small  {
    font-size: 11px;
    text-align:center;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    color: #3d87c5;
    display: block;
    margin-top: -5px;
  }
  @media screen and (max-width: 320px) {
    small {
      font-weight: bold;
      margin-top: -25px;
    }
  }

  blockquote {
    color: #3d87c5;
    font-size: 22px;
    text-transform:uppercase;
    border-left:solid 2px #bfcbd4;
    padding: 12px;
    -webkit-margin-start: 5px;
    -webkit-margin-end: 5px;
    margin: 1em 5px 1em 5px;
  }
  @media screen and (max-width: 320px){
    blockquote {
      font-size:16px;
      line-height:20px;
      font-family:"PT Sans", Arial, sans-serif;
      font-weight:bold;
       }
     }

  .container {
    width: 965px;
    margin: auto;
    overflow:hidden;
  }
  @media screen and (max-width: 320px){
    .container {
      width:320px;
    }
  }

  .fullfill {
    width: 100%;
    background:#15293e
  }

  section#titles{
    text-align:center;
    clear:both;
    position:absolute;
    margin-top:154px;
    width:100%;
  }
  @media screen and (max-width: 320px) {
    section#titles {
      margin-top:54px;
      width:100%;
    }
  }

  nav#headerNav{
    margin: auto;
    width:765px;
    clear:both;
  }
  @media screen and (max-width: 320px){
    nav#headerNav{
      width: 320px;
    }
  }

  nav#headerNav li{
    list-style: none;
    font-family: 'Oswald', Arial, sans;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    float:left;
    padding: 20px 4px 0px 0px;
    color:#053251;
  }
  @media screen and (max-width:320px){
    nav#headerNav li{
    float:none;
    padding:0px;
    }
  }

  nav#headerNav li.navMenu {
    margin: -6px 0 0 8px;
    float:right;
  }
  @media screen and (max-width:320px){
    nav#headerNav li.navMenu{
      float: left;
      margin: 10px 8px 0 8px;
    }
  }

  nav#headerNav li#searchIcon {
    font-size: 12px;
    float:right;
    margin-top: -8px;
    color:#053251;
  }
  @media screen and (max-width:320px){
    nav#headerNav li.searchIcon{
      float:none;
      margin:0;
    }
  }


  nav#headerNav li#companyText{
    font-size: 14px;
    font-family: 'Asap', Arial, sans-serif;
    padding-top: 16px;
  }
  @media screen and (max-width:320px){
    nav#headerNav li#companyText{
      display: none;
    }
  }



  nav#footerNav{
    background: #152a3e;
    clear:both;
  }

  nav#footerNav li {
    font-family: 'Asap', Tahoma, Arial, sans-serif;
    font-size: 11px;
    float: left;
    color: #bfcbd4;
    margin-top: 25px;
  }
  @media screen and (max-width:320px){
    nav#footerNav li{
      float:none;
      font-size:14px;
      color: #a2b2bd;
      margin:0 0 0 0;
    }
  }

  nav#footerNav li#tiycompanyText {
    float: left;
  }
  @media screen and (max-width:320px){
    nav#footerNav li#tiycompanyText{

    }
  }

  nav#footerNav li#tiyLogoImg {
    float: left;
    margin-top:0;
  }
  @media screen and (max-width:320px){
    nav#footerNav li#tiyLogoImg{
    length:65px;
    width:65px;
    }
  }

  nav#footerNav li.navFooterMenu {
    float: right;
    padding: 0 9px 0 9px;
    border-left: dimgray solid 1px;
    display: inline-block;
  }
  @media screen and (max-width:320px){
    nav#footerNav li#navFooterMenu {
      float:left;
      color:#a2b2bd;
    }
  }

  nav#footerNav li.navFooterMenu:last-child {
    border:none;
  }
  @media screen and (max-width:320px){
    nav#footerNav li#navFooterMenu:last-child {
    border-left: dimgray solid 1px;
    }
  }


  div.author{
    text-align:center;
  }

  section.byline{
    height: 40px;
  }

  div.popPostWrapper{
    width:25%;
    height:300px;
    float:left;
    position:relative;
  }
  @media screen and (max-width:320px){
    div.popPostWrapper{
      float:none;
      width:280px;
      margin:15px 20px 0 20px;
    }
  }



  @media screen and (max-width:320px){
    section#popularPosts a:last-child {
      display:none;
      }
    }

  figure.popPost{
    width:100%;
    float: left;
    height: 300px;
    opacity: 0.5;
  }
  @media screen and (max-width:320px){
    height: 205px;
    float:none;
  }

  div.popPostWrapper:hover > .popPost {opacity:0.8;}
  div.popPostWrapper:hover > .popPostTitle {color:white;}


  figure.popPost#pop1{
    background: url("http://i.imgur.com/GxpP2or.png") no-repeat center center;
    background-size: cover;
  }

  figure.popPost#pop2{
    background:url("http://i.imgur.com/H3q9Y64.png") no-repeat center center;
    background-size: cover;
  }

  figure.popPost#pop3{
    background:url("http://i.imgur.com/1tUmuJn.png") no-repeat center center;
    background-size: cover;
  }

  figure.popPost#pop4{
    background:url("http://i.imgur.com/UGhqQNW.png") no-repeat center center;
    background-size: cover;
  }

  ul.authorSocialList {
    padding-top: 4px;
    display: inline-block;
    text-align: center;
  }

  ul.authorSocialList li{
    list-style: none;
    font-size: 10px;
    float:left;
    padding: 0px 7px 0px 7px;
    color: #bfcbd4;
  }

  img#logo{
    height: 35px;
    width: 35px;
    margin:-15px 5px 0 0;
  }
  @media screen and (max-width:320px){
    img#logo{
      padding: 0 142.5px 0 142.5px;
      position:absolute;
      margin: 39px 0 0 0;
    }
  }

  img#tiyLogo{
    height:45px;
    width:45px;
    float: left;
    margin: 10px;
  }
  @media screen and (max-width:320px){
    img#tiyLogo{
      height: 60px;
      width: 60px;
    }
  }

  img.authorIcon{
    height:30px;
    width:30px;
    margin-top: 8px;
    margin-right: 5px;
    float: left;
  }
  @media screen and (max-width:320px){
    img.authorIcon{
      /*height:0px;
      width:0px;
      margin:0;
      visibility:hidden;*/
      display:none;
    }
  }

  figcaption.popPostTitle{
    font-family: 'Oswald';
    text-transform: uppercase;
    font-weight: normal;
    font-size: 22px;
    text-align: left;
    position:absolute;
    margin: 250px 18px 18px 18px;
  /*not using #82b2da* so text displays clearly */
    color: #1068A4;
  }

  img.authorAvatar{
    height:60px;
    width:60px;
    margin-top: 8px;
    margin-right: 5px;
  }

  article{
    width: 475px;
    margin-left: 100px;
    float:left;
  }
  @media screen and (max-width: 320px) {
    article {
      width: 280px;
      margin: 0;
    }
  }

  section.sidebar{
    float:right;
    width: 300px;
    padding-top: 45px;
  }
  @media screen and (max-width: 320px){
    section.sidebar{
    float:none;
    clear:both;
    padding-top: 45px;
    }
  }

  section.articleContent{
    color: #626769;
    font-size:12px;
    line-height:18px;
  }

  section#popularPosts{
    clear:both;
    margin:0 auto;
    width: 100%;
    float: left;
  }
  @media screen and (max-width: 320px){
    section#popularPosts{
    border-top:solid 1px #e7ecf0;
    background:#ffffff;
    }
  }

  section#popularPosts h2{
    text-align: center;
    background:#fafcfe;
  }
  @media screen and (max-width: 320px) {
    section#popularPosts h2 {
      font-size:32px;
      background:#ffffff;
    }
  }



  div.entryFooterLink{
    background: #bfcbd4;
    color: #fafcfe;
    font-size: 11px;
    text-align:center;
    float:left;
    margin: 4px;
    width:150px;
  }

  div.entryFooterLink#share{
    background: #3d87c5;
  }


  i.fa{
    float: left;
    line-height: 1.5;
    padding: 4px 5px 4px 5px;
    background: #5e6970;
  }

  #searchIcon i.fa{
    float: left;
    line-height: 1.2;
    padding: 0px 0px 0px 2px;
    background:none;
  }


  li#sharePost i.fa{
    background:#053251;
  }

  li.articleAction{
    list-style: none;
    float:left;
    background: #9dadb3;
    color: #fafcfe;
    font-size: 11px;
    text-align: center;
    margin:4px;
  }

  li#sharePost {
    background:#21659d;
  }

  nav.articleButtons {
    margin-top:15px;
  }

  span.articleActionTxt {
    padding:0px 9px 0px 9px;
    line-height:2.0;
  }

  span.blogAuthor{
    color: #3d87c5;
    font-size: 11px;
    float: left;
    padding-top: 15px;
  }
  @media screen and (max-width:520px){
    span.blogAuthor{
      visibility: hidden;
        width:0px;
        padding:0;
        visibility:hidden;
      }
    }


  p.authorName{
    color: #3d87c5;
    font-size: 12px;
    text-transform:uppercase;
  }

  time, span.timeExtraText {
    color: #bfcbd4;
    font-size: 10px;
    padding-left: 3px;
    float: left;
    padding-top: 16px;
  }
  @media screen and (max-width:320px){
    time {
    font-size: 12px;
    text-decoration: underline;
    padding-left: 0;
    padding-top: 8px;
    font-weight: bold;
    }
  }
  @media screen and (max-width:560px){
    .timeExtraText {
      display:none;
    }
  }

  ul{
    /* -webkit-margin-before: 0em; */
    /* -webkit-margin-after: 0em; */
    /* -webkit-margin-start: 0px; */
    /* -webkit-margin-end: 0px; */
    /* -webkit-padding-start: 0px; */

  }

  div.adblock_square {
    clear:both;
    margin: 30px 100px 40px 0;
    text-align: center;
    width: 100%;
  }

  img.ad_square {
    clear:both;
    height:156px;
    width: 200px;
    text-align:center;
  }

  p.ad_caption {
    color: #bfcbd4;
    font-size: 10px;
    display: block;
    text-align: right;
    /* clear: right; */
    margin-right: 50px;
    /* font-weight: bold; */
    font-family: Asap;
  }

  p.ad_caption a {
    color: #bfcbd4;

    text-decoration: underline;
    border-bottom: 2px solid;
    /* font-family: Asap; */
  }


  aside {
    clear:both;
    margin: 30px 50px 30px 50px;
    width: 200px;
  }
  @media screen and (max-width:320px){
    aside{
      display:none;
    }
  }


  .asideText {
    text-align:left;
    color: #bfcbd4;
    font-size:12px;
    line-height:18px;
    padding-top: 10px;
  }

nav#footerNav li#tiycompanyText {
  float: left;
}
@media screen and (max-width:320px){
  nav#footerNav li#tiycompanyText{

  }
}

nav#footerNav li#tiyLogoImg {
  float: left;
  margin-top:0;
}
@media screen and (max-width:320px){
  nav#footerNav li#tiyLogoImg{
  length:65px;
  width:65px;
  }
}

nav#footerNav li.navFooterMenu {
  float: right;
  padding: 0 9px 0 9px;
  border-left: dimgray solid 1px;
  display: inline-block;
}
@media screen and (max-width:320px){
  nav#footerNav li#navFooterMenu {
    float:left;
    color:#a2b2bd;
  }
}

nav#footerNav li.navFooterMenu:last-child {
  border:none;
}
@media screen and (max-width:320px){
  nav#footerNav li#navFooterMenu:last-child {
  border-left: dimgray solid 1px;
  }
}


div.author{
  text-align:center;
}

section.byline{
  height: 40px;
}

div.popPostWrapper{
  width:25%;
  height:300px;
  float:left;
  position:relative;
}
@media screen and (max-width:320px){
  div.popPostWrapper{
    float:none;
    width:280px;
    margin:15px 20px 0 20px;
  }
}



@media screen and (max-width:320px){
  section#popularPosts a:last-child {
    display:none;
    }
  }

figure.popPost{
  width:100%;
  float: left;
  height: 300px;
  opacity: 0.5;
}
@media screen and (max-width:320px){
  height: 205px;
  float:none;
}

div.popPostWrapper:hover > .popPost {opacity:0.8;}
div.popPostWrapper:hover > .popPostTitle {color:white;}


figure.popPost#pop1{
  background: url("http://i.imgur.com/GxpP2or.png") no-repeat center center;
  background-size: cover;
}

figure.popPost#pop2{
  background:url("http://i.imgur.com/H3q9Y64.png") no-repeat center center;
  background-size: cover;
}

figure.popPost#pop3{
  background:url("http://i.imgur.com/1tUmuJn.png") no-repeat center center;
  background-size: cover;
}

figure.popPost#pop4{
  background:url("http://i.imgur.com/UGhqQNW.png") no-repeat center center;
  background-size: cover;
}

ul.authorSocialList {
  padding-top: 4px;
  display: inline-block;
  text-align: center;
}

ul.authorSocialList li{
  list-style: none;
  font-size: 10px;
  float:left;
  padding: 0px 7px 0px 7px;
  color: #bfcbd4;
}

img#logo{
  height: 35px;
  width: 35px;
  margin:-15px 5px 0 0;
}
@media screen and (max-width:320px){
  img#logo{
    padding: 0 142.5px 0 142.5px;
    position:absolute;
    margin: 39px 0 0 0;
  }
}

nav#footerNav li#tiyLogo{
  height:45px;
  width:45px;
  float: left;
  margin: 10px;
}
@media screen and (max-width:320px){
  nav#footerNav li#tiyLogo{
    height: 60px;
    width: 60px;
  }
}

img.authorIcon{
  height:30px;
  width:30px;
  margin-top: 8px;
  margin-right: 5px;
  float: left;
}
@media screen and (max-width:320px){
  img.authorIcon{
    /*height:0px;
    width:0px;
    margin:0;
    visibility:hidden;*/
    display:none;
  }
}

figcaption.popPostTitle{
  font-family: 'Oswald';
  text-transform: uppercase;
  font-weight: normal;
  font-size: 22px;
  text-align: left;
  position:absolute;
  margin: 250px 18px 18px 18px;
/*not using #82b2da* so text displays clearly */
  color: #1068A4;
}

img.authorAvatar{
  height:60px;
  width:60px;
  margin-top: 8px;
  margin-right: 5px;
}

article{
  width: 475px;
  margin-left: 100px;
  float:left;
}
@media screen and (max-width: 320px) {
  article {
    width: 280px;
    margin: 0;
  }
}

section.sidebar{
  float:right;
  width: 300px;
  padding-top: 45px;
}
@media screen and (max-width: 320px){
  section.sidebar{
  float:none;
  clear:both;
  padding-top: 45px;
  }
}

section.articleContent{
  color: #626769;
  font-size:12px;
  line-height:18px;
}

section#popularPosts{
  clear:both;
  margin:0 auto;
  width: 100%;
  float: left;
}
@media screen and (max-width: 320px){
  section#popularPosts{
  border-top:solid 1px #e7ecf0;
  background:#ffffff;
  }
}

section#popularPosts h2{
  text-align: center;
  background:#fafcfe;
}
@media screen and (max-width: 320px) {
  section#popularPosts h2 {
    font-size:32px;
    background:#ffffff;
  }
}



div.entryFooterLink{
  background: #bfcbd4;
  color: #fafcfe;
  font-size: 11px;
  text-align:center;
  float:left;
  margin: 4px;
  width:150px;
}

div.entryFooterLink#share{
  background: #3d87c5;
}


i.fa{
  float: left;
  line-height: 1.5;
  padding: 4px 5px 4px 5px;
  background: #5e6970;
}

#searchIcon i.fa{
  float: left;
  line-height: 1.2;
  padding: 0px 0px 0px 2px;
  background:none;
}


li#sharePost i.fa{
  background:#053251;
}

li.articleAction{
  list-style: none;
  float:left;
  background: #9dadb3;
  color: #fafcfe;
  font-size: 11px;
  text-align: center;
  margin:4px;
}

li#sharePost {
  background:#21659d;
}

nav.articleButtons {
  margin-top:15px;
}

span.articleActionTxt {
  padding:0px 9px 0px 9px;
  line-height:2.0;
}

span.blogAuthor{
  color: #3d87c5;
  font-size: 11px;
  float: left;
  padding-top: 15px;
}
@media screen and (max-width:520px){
  span.blogAuthor{
    visibility: hidden;
      width:0px;
      padding:0;
      visibility:hidden;
    }
  }


p.authorName{
  color: #3d87c5;
  font-size: 12px;
  text-transform:uppercase;
}

time, span.timeExtraText {
  color: #bfcbd4;
  font-size: 10px;
  padding-left: 3px;
  float: left;
  padding-top: 16px;
}
@media screen and (max-width:320px){
  time {
  font-size: 12px;
  text-decoration: underline;
  padding-left: 0;
  padding-top: 8px;
  font-weight: bold;
  }
}
@media screen and (max-width:560px){
  .timeExtraText {
    display:none;
  }
}

ul{
  /* -webkit-margin-before: 0em; */
  /* -webkit-margin-after: 0em; */
  /* -webkit-margin-start: 0px; */
  /* -webkit-margin-end: 0px; */
  /* -webkit-padding-start: 0px; */

}

div.adblock_square {
  clear:both;
  margin: 30px 100px 40px 0;
  text-align: center;
  width: 100%;
}

img.ad_square {
  clear:both;
  height:156px;
  width: 200px;
  text-align:center;
}

p.ad_caption {
  color: #bfcbd4;
  font-size: 10px;
  display: block;
  text-align: right;
  /* clear: right; */
  margin-right: 50px;
  /* font-weight: bold; */
  font-family: Asap;
}

p.ad_caption a {
  color: #bfcbd4;

  text-decoration: underline;
  border-bottom: 2px solid;
  /* font-family: Asap; */
}


aside {
  clear:both;
  margin: 30px 50px 30px 50px;
  width: 200px;
}
@media screen and (max-width:320px){
  aside{
    display:none;
  }
}


.asideText {
  text-align:left;
  color: #bfcbd4;
  font-size:12px;
  line-height:18px;
  padding-top: 10px;
}
