/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(../font-awesome/css/font-awesome.css);
@import "http://fonts.googleapis.com/css?family=Oswald:400,300,700";
@import "http://fonts.googleapis.com/css?family=PT+Sans";
@import "http://fonts.googleapis.com/css?family=Asap:400,700,400italic";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  width: 100%;
  font-family: "Asap", Tahoma, sans-serif;
  margin: auto;
  background: white; }

header {
  height: 382px;
  background: url(../images/tulum-waves.jpg) no-repeat center center fixed;
  background-size: cover; }
  @media screen and (max-width: 320px) {
    header {
      height: 140px; } }

h1 {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 81px;
  text-align: center;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  color: #fafcfe;
  letter-spacing: -0.5px; }
  @media screen and (max-width: 320px) {
    h1 {
      font-size: 28px; } }

h2 {
  font-family: "Oswald", Aril, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 46px;
  text-align: left;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  line-height: 48px;
  padding: 25px 0 0 0;
  color: #142940; }
  @media screen and (max-width: 320px) {
    h2 {
      padding: 35px 0 0 0;
      line-height: 52px; } }

h3 {
  text-transform: uppercase;
  color: #3d87c5;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px; }

small {
  font-size: 11px;
  text-align: center;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  color: #3d87c5;
  display: block;
  margin-top: -25px 0 0 0; }
  @media screen and (max-width: 320px) {
    small {
      font-weight: bold; } }

blockquote {
  color: #3d87c5;
  font-size: 22px;
  text-transform: uppercase;
  border-left: solid 2px #bfcbd4;
  padding: 10px 25px 10px 10px;
  -webkit-margin-start: 5px;
  -webkit-margin-end: 5px;
  margin: 25px 5px 25px 5px; }
  @media screen and (max-width: 320px) {
    blockquote {
      font-size: 16px;
      font-family: "PT Sans", Arial, sans-serif;
      font-weight: bold; } }

.container {
  width: 965px;
  margin: auto;
  overflow: hidden; }
  @media screen and (max-width: 320px) {
    .container {
      width: 320px; } }

.fullfill {
  width: 100%;
  background: #142940; }

section#titles {
  text-align: center;
  clear: both;
  position: absolute;
  margin: 154px 0 0 0;
  width: 100%; }
  @media screen and (max-width: 320px) {
    section#titles {
      margin: 54px 0 0 0;
      width: 100%; } }

nav#headerNav {
  margin: auto;
  width: 765px;
  clear: both;
  padding: 8px 0 0 0; }
  @media screen and (max-width: 320px) {
    nav#headerNav {
      width: 320px; } }
  nav#headerNav li {
    list-style: none;
    font-family: "Oswald", Aril, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 0 0 0;
    color: #053251;
    float: left; }
    nav#headerNav li:nth-child(1) {
      float: left;
      height: 35px;
      width: 35px;
      margin: 0 5px 0 0;
      background-image: url("../images/surfandpaddle_logo.gif");
      background-image: url("../images/surfandpaddle_logo.gif");
      background-size: 35px;
      background-repeat: no-repeat; }
    nav#headerNav li:nth-child(2) {
      font-size: 14px;
      font-family: 'Asap', Arial, sans-serif;
      padding-top: 12px;
      float: left; }
      nav#headerNav li:nth-child(2) span:before {
        content: "Surf & Paddle Co. Blog"; }
      @media screen and (max-width: 320px) {
        nav#headerNav li:nth-child(2) {
          display: none; } }
    nav#headerNav li#searchIcon {
      font-size: 12px;
      float: right;
      padding: 11px 0 0 3px;
      color: #053251; }
    nav#headerNav li:nth-child(4) {
      float: right;
      padding: 11px 10px 0 0; }
      nav#headerNav li:nth-child(4) span:before {
        content: "Search"; }
      @media screen and (max-width: 320px) {
        nav#headerNav li:nth-child(4) {
          float: left; } }
    nav#headerNav li:nth-child(5) {
      float: right;
      padding: 11px 10px 0 0; }
      nav#headerNav li:nth-child(5) span:before {
        content: "About"; }
      @media screen and (max-width: 320px) {
        nav#headerNav li:nth-child(5) {
          float: left; } }

section#main {
  padding: 20px 100px 20px 100px; }
  @media screen and (max-width: 320px) {
    section#main {
      padding: 20px;
      line-height: 52px; } }
  section#main article {
    width: 472.80593px;
    float: left; }
    @media screen and (max-width: 320px) {
      section#main article {
        width: 280px;
        margin: 0; } }
    section#main article .byline {
      height: 40px; }
      @media screen and (max-width: 320px) {
        section#main article .byline {
          height: 25px; } }
    section#main article img.authorIcon {
      height: 30px;
      width: 30px;
      margin-top: 8px;
      margin-right: 5px;
      float: left; }
      @media screen and (max-width: 320px) {
        section#main article img.authorIcon {
          display: none; } }
    section#main article span.blogAuthor {
      color: #3d87c5;
      font-size: 11px;
      float: left;
      padding-top: 15px; }
      @media screen and (max-width: 320px) {
        section#main article span.blogAuthor {
          display: none; } }
    section#main article time, section#main article span.timeExtraText {
      color: #bfcbd4;
      font-size: 10px;
      padding-left: 3px;
      float: left;
      padding-top: 16px; }
    @media screen and (max-width: 320px) {
      section#main article time {
        font-size: 12px;
        text-decoration: underline;
        padding-left: 0;
        margin-top: -15px;
        font-weight: bold; } }
    @media screen and (max-width: 320px) {
      section#main article .timeExtraText {
        display: none; } }
    section#main article section.articleContent {
      color: #626769;
      font-size: 12px;
      line-height: 18px; }
      @media screen and (max-width: 320px) {
        section#main article section.articleContent {
          clear: both; } }
    section#main article nav.articleButtons {
      margin-top: 15px; }
      section#main article nav.articleButtons li.articleAction {
        list-style: none;
        float: left;
        background: #9dadb3;
        color: #fafcfe;
        font-size: 11px;
        text-align: center;
        margin: 4px; }
        section#main article nav.articleButtons li.articleAction i.fa {
          float: left;
          line-height: 1.5;
          padding: 4px 5px 4px 5px;
          background: #5e6970; }
        section#main article nav.articleButtons li.articleAction #sharePost {
          background: #21659d; }
          section#main article nav.articleButtons li.articleAction #sharePost i.fa {
            background: #053251; }
        section#main article nav.articleButtons li.articleAction span.articleActionTxt {
          padding: 0px 9px 0px 9px;
          line-height: 2.0; }
  section#main section.sidebar {
    float: right;
    width: 291.21628px;
    padding-top: 45px; }
    @media screen and (max-width: 320px) {
      section#main section.sidebar section.sidebar {
        float: none;
        clear: both;
        padding-top: 45px; } }
    section#main section.sidebar div.author {
      text-align: center; }
      section#main section.sidebar div.author img.authorAvatar {
        height: 60px;
        width: 60px;
        margin-top: 8px;
        margin-right: 5px; }
        @media screen and (max-width: 320px) {
          section#main section.sidebar div.author img.authorAvatar {
            height: 90px;
            width: 90px; } }
      section#main section.sidebar div.author p.authorName {
        color: #3d87c5;
        font-size: 12px;
        text-transform: uppercase; }
        @media screen and (max-width: 320px) {
          section#main section.sidebar div.author p.authorName {
            font-size: 18px;
            line-height: 18px; } }
      section#main section.sidebar div.author ul.authorSocialList {
        padding-top: 4px;
        display: inline-block;
        text-align: center; }
        @media screen and (max-width: 320px) {
          section#main section.sidebar div.author ul.authorSocialList {
            padding-top: 0px; } }
        section#main section.sidebar div.author ul.authorSocialList li {
          list-style: none;
          font-size: 10px;
          float: left;
          padding: 0px 7px 0px 7px;
          color: #bfcbd4; }
          @media screen and (max-width: 320px) {
            section#main section.sidebar div.author ul.authorSocialList li {
              font-size: 16px; } }
    section#main section.sidebar div.adblock_square {
      clear: both;
      margin: 30px 100px 40px 0;
      text-align: center;
      width: 100%; }
      section#main section.sidebar div.adblock_square img.ad_square {
        clear: both;
        height: 156px;
        width: 200px;
        text-align: center; }
      section#main section.sidebar div.adblock_square p.ad_caption {
        color: #bfcbd4;
        font-size: 10px;
        display: block;
        text-align: right;
        margin-right: 50px;
        font-family: Asap; }
        section#main section.sidebar div.adblock_square p.ad_caption a {
          color: #bfcbd4;
          text-decoration: underline;
          border-bottom: 2px solid; }
    section#main section.sidebar aside {
      clear: both;
      margin: 30px 50px 30px 50px;
      width: 200px; }
      @media screen and (max-width: 320px) {
        section#main section.sidebar aside {
          display: none; } }
      section#main section.sidebar aside p.asideText {
        text-align: left;
        color: #bfcbd4;
        font-size: 12px;
        line-height: 18px;
        padding-top: 10px; }

footer {
  margin: 0 auto;
  width: 100%;
  clear: both; }
  footer section#popularPosts {
    clear: both;
    margin: 0 auto;
    width: 100%;
    float: left;
    border-top: solid 1px #e7ecf0;
    background: white; }
    @media screen and (max-width: 320px) {
      footer section#popularPosts:last-child {
        display: none; } }
    footer section#popularPosts h2 {
      text-align: center;
      background: #fafcfe; }
      @media screen and (max-width: 320px) {
        footer section#popularPosts h2 {
          font-size: 32px;
          background: white; } }
    footer section#popularPosts div.popPostWrapper {
      width: 25%;
      height: 300px;
      float: left;
      position: relative; }
      @media screen and (max-width: 320px) {
        footer section#popularPosts div.popPostWrapper {
          float: none;
          width: 280px;
          margin: 15px 20px 0 20px;
          height: 205px; } }
      footer section#popularPosts div.popPostWrapper:hover > .popPost {
        opacity: 0.8; }
      footer section#popularPosts div.popPostWrapper:hover > .popPostTitle {
        color: white; }
      footer section#popularPosts div.popPostWrapper figure.popPost {
        width: 100%;
        float: left;
        height: 300px;
        opacity: 0.5;
        background: cover; }
        @media screen and (max-width: 320px) {
          footer section#popularPosts div.popPostWrapper figure.popPost {
            height: 205px;
            float: none; } }
        footer section#popularPosts div.popPostWrapper figure.popPost#pop1 {
          background: url("http://i.imgur.com/GxpP2or.png") no-repeat center center; }
        footer section#popularPosts div.popPostWrapper figure.popPost#pop2 {
          background: url("http://i.imgur.com/H3q9Y64.png") no-repeat center center; }
        footer section#popularPosts div.popPostWrapper figure.popPost#pop3 {
          background: url("http://i.imgur.com/1tUmuJn.png") no-repeat center center; }
        footer section#popularPosts div.popPostWrapper figure.popPost#pop4 {
          background: url("http://i.imgur.com/UGhqQNW.png") no-repeat center center; }
      footer section#popularPosts div.popPostWrapper figcaption.popPostTitle {
        font-family: 'Oswald';
        text-transform: uppercase;
        font-weight: normal;
        font-size: 22px;
        text-align: left;
        position: absolute;
        margin: 250px 18px 18px 18px;
        /*not using #82b2da* so text displays clearly */
        color: #1068A4; }
        @media screen and (max-width: 320px) {
          footer section#popularPosts div.popPostWrapper figcaption.popPostTitle {
            margin-top: -50px; } }

nav#footerNav {
  background: #142940;
  clear: both; }
  nav#footerNav li {
    font-family: 'Asap', Tahoma, Arial, sans-serif;
    font-size: 11px;
    float: right;
    color: #bfcbd4;
    margin-top: 25px; }
    @media screen and (max-width: 320px) {
      nav#footerNav li {
        float: none;
        font-size: 14px;
        color: #a2b2bd;
        margin: 0 0 0 0; } }
    nav#footerNav li#tiycompanyText {
      float: left; }
      @media screen and (max-width: 320px) {
        nav#footerNav li#tiycompanyText {
          float: none; } }
    nav#footerNav li#tiyLogo {
      float: left;
      margin-top: 0; }
      @media screen and (max-width: 320px) {
        nav#footerNav li#tiyLogo {
          length: 65px;
          width: 65px; } }
      nav#footerNav li#tiyLogo img#tiyLogoImg {
        height: 45px;
        width: 45px;
        float: left;
        margin: 10px; }
        @media screen and (max-width: 320px) {
          nav#footerNav li#tiyLogo img#tiyLogoImg {
            height: 60px;
            width: 60px; } }
    nav#footerNav li.navFooterMenu {
      float: right;
      padding: 0 9px 0 9px;
      border-left: dimgray solid 1px;
      display: inline-block; }
      @media screen and (max-width: 320px) {
        nav#footerNav li.navFooterMenu {
          float: left;
          color: #a2b2bd; } }
      nav#footerNav li.navFooterMenu:last-child {
        border: none; }
        @media screen and (max-width: 320px) {
          nav#footerNav li.navFooterMenu:last-child {
            border-left: dimgray solid 1px; } }
